/**
 * @name         SmashUp 
 * @description  This Theme is a smashup of multiple other themes (i also added stuff that i made too) 
 * @author       Wolfkid
 * @version      1.2
 * @source       https://futuredeveloperz.github.io/test/themes/smashup.theme.css
 * @invite       ZU8zFx8
 * @authorId     282978672711827456
 */

@import "https://futuredeveloperz.github.io/test/themes/style.css";


/* EDIT THE COLORS HERE */
:root {
   --unread-badge: rgba(255,255,255,0.6) !important;
   --unread-background: rgba(129, 129, 129) !important;
   --selected-badge: rgb(112, 135, 215) !important;
   --selected-background: rgba(53, 133, 222) !important;
   --hovered: rgba(79,84,92,0.16) !important;
   --active: rgba(79,84,92,0.24) !important;
}

/* PLACE ANY CUSTOM CODE DOWN HERE */
