
@import url("https://futuredeveloperz.github.io/test/backgrounds/userPopouts.css");
@import "https://futuredeveloperz.github.io/test/addons/user-tags.css";




/* Makes Backgrounds Visible */

.header-QKLPzZ .wrapper-3t9DeA.avatar-3EQepX::before {
  content:'';
  position:absolute;
  top:-34px;
  left:-20px;
  width:601px;
  height: 300px; 
  opacity:.5;
  pointer-events:none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent);
  display: block !important;
}

.header-QKLPzZ *:not(:first-child),
.tabBarItem-1b8RUP {
  z-index:1;
}

.userPopout-3XzG_A .wrapper-3t9DeA * {
  z-index: 1;
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
  z-index: unset;
}
